<!-- app/src/main/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permessi -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- La posizione è opzionale (non bloccare installazione su device senza GPS) -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:label="Plutoo"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false">

        <!-- Usa il nome COMPLETO della classe, perché non c'è più l'attributo package -->
        <activity
            android:name="com.plutoo.androidwebview.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
